/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: rgba(128, 128, 128,.2)
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}


/*TOP NAV*/

.top-nav {
    background-color: #00c292;
    display: flex;
    padding: 0 10%;
}

.top-nav-sec {
}

    .top-nav-sec .green {
        color: green;
    }

    .top-nav-sec a {
        text-decoration: none;
    }

    .top-nav-sec .red {
        color: black;
    }

    .top-nav-sec .account {
        background-color: #fff;
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }

.search-btn {
    background-color: #f68b1e;
    height: 30px;
    display: inline-block;
}




/*PRODUCTADD*/

.centerform {
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
}

/*Login*/
.login-reg {
    background-color: #fff;
    width: 100px;
    padding: 20px;
}

    .login-reg p {
        font-size: 20px;
    }

.input-fill {
    width: 100%;
    background-color: #1f1f1f;
    color: #fff;
    font-size: 20px;
}


/*Login*/
/*TABLE*/
.table-brd {
    border: solid 1px grey;
}

table thead {
    background-color: lightgray;
}

    table thead tr .small-th {
        width: 150px;
    }

.table-image img {
    width: 50px;
    width: 50px;
    background-color: blue;
}

.crud-container {
    border-bottom: solid 2px grey;
}



.crud {
    display: flex;
}

    .crud a {
        margin-right: 30px;
    }
/*SECTION CONTAINER*/
.sec-container {
    width: 100%;
    padding: 30px;
}
